body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    
    font-size: larger;
    font-weight: bolder;
    padding: 30px 40px;
    background: #800080;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);

}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

/* HERO */
.hero {
    display: flex;
    padding: 60px 40px;
    align-items: center;
    
}

.hero-left {
    flex: 1;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


.upload-box {
    margin-top: 20px;
}

.upload-box button {
    margin-top: 10px;
    padding: 10px 20px;
}

/* RESULTS */
.results {
    display: flex;
    padding: 60px 40px;
    gap: 30px;
    justify-content: center;
}


.result-card {
    flex: 1;
    padding: 25px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.result-card:hover {
    transform: translateY(-5px);
}



   
/* HOW IT WORKS */
.how-it-works {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 40px;
}


.step {
    width: 30%;
    padding: 25px;
    border-radius: 16px;
    background: white;
    border: 3px solid;
    border-color:#800080 ;
}



/* FOOTER */
.footer {
    text-align: center;
    padding: 15px;
    background: #800080;
    margin-top: 40px;
}
.illustration svg {
  width: 100%;        /* responsive width */
  max-width: 600px;   /* limit size */
  height: auto;
}
.upload-box button {
    padding: 10px 20px;
    border: none;
    background-color: #800080;        /* solid purple */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.upload-box button:hover {
    background-color: #970747;       /* darker purple on hover */
}
html {
    scroll-behavior: smooth;
}
h3 {
    margin-bottom: 15px;
    color: #800080;
}
ul li {
    margin-bottom: 8px;
}
/* Modal background */
.modal {
    display: none;  /* hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

/* Modal box */
.modal-content {
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 16px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

.penguin-img {
    width: 320px;   /* bada penguin */
    margin-bottom:15px;
}
#scoreFeedback {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
}
